<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3e2cdb926.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="styles/style.css">
    <script src="scripts/script.js"></script>

    <title>Login</title>
  <style>
    .error-message {
        color: red;
        font-size: 12px;
        height: 10px;
    }
  </style>
</head>
<body>
  <div class="card">
    <h1>SIGN IN</h1>
    <form action="/login" method="POST">
      <div class="form-login">
        <i class="fa-solid fa-envelope" style="color: #a8a8a8;"></i>
        <input type="email" name="email" placeholder="Email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"  title="Enter a valid email address" required>
      </div>

      <div class="form-login">
        <i class="fa-solid fa-lock" style="color: #a8a8a8;"></i>
        <input type="password" name="password" placeholder="Password" required>
      </div>
      <button type="submit" id="MAINPAGE"> Sign In</button>

      <% if (errorMessage) { %>
        <p class="error-message"><%= errorMessage %></p>
      <% } %>
    </form>
    <div class="Sign"><p id="sign-up"> Sign Up</p></div>     
    <main class="scene"></main>


  </div>
  <button><a href="/" style="text-decoration: none; color:#fff">Home</a></button>
    
  
  
  
</body>

</html>