@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --clr-1: #2c2c2c;
  --clr-2: #1c1c1c;
  --clr-3: #7d7d7d;
  --clr-4: #60a1ef;
  --clr-5: #d12d9c;
  --clr-6: #a8a8a8;
}

body {
  background: var(--clr-2);
  background-image: url('TEXTURE.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;    
}





.forms{
  font-weight: bold;
}
.card {
  margin: 50px auto;
  padding: 30px;

  height: 60vh;
  aspect-ratio: 1 / 1.5;
  background: var(--clr-1);
  border-radius: 40px;

  position: relative;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
   
    var(--clr-4),
    var(--clr-5),
    var(--clr-4)
   
  );
  border-radius: 45px;
  animation: rotation 4s linear infinite;
}

.card::after {
  filter: blur(2.5rem);
}

h1 {
  font-size: 55px ;
  text-align: center;
  color: var(--clr-6);
  margin-bottom: 40px;
}

i{
position:absolute;
margin-top: 20px;
margin-left: 5px;
}

input {
display: block;
width: 75%;

background-color: var(--clr-1);
margin-bottom: 55px;
margin-left: 30px;
padding: 10px;
border: 2px solid var(--clr-1); ;
border-bottom: 2px solid var(--clr-6);
border-radius: 3px;
}

button {
  display: block;
  width:25%;
  padding: 10px;
  margin-bottom: 50px auto;
  margin-left: 37%;
  background-color: var(--clr-1);
  font-weight: bold;
  color: #fff;
  border-color: var(--clr-6);
  border-radius: 20px;
  cursor: pointer;
}




button:hover {

  background-color: var(--clr-2);
}


.Sign{
width: 70px;
margin-left: 111px;
margin-top: 1px;
}
p {
  color: #7d7d7d ;
  text-align: center;
}

p:hover{
color: var(--clr-4);
text-decoration: underline;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}


